.content-image{
    width: 700px;
    height: 400px;
}
/*.carousel-image{*/
/*    width: 300px;*/
/*    height: 250px;*/
/*}*/
.avatar{
    width: 30px;
    height: 30px;
}

.avatar .nav-item{
    border-radius: 100px;
    border: 3px solid green;
}

.logo{
    width: 30px;
    height: 30px;
}

.logo-image{
    width: 30px;
    height: 30px;
}
.carousel-image{
    width: 300px;
    height: auto;
}

